In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

In [4]:
#loding the data
raw_mail_data = pd.read_csv("spam.csv",encoding = "ISO-8859-1")

In [5]:
raw_mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
raw_mail_data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [16]:
raw_mail_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [8]:
mail_data = raw_mail_data.where(pd.notnull(raw_mail_data),'')

In [21]:
#mail_data.drop('Unnamed: 2',axis=1, inplace=True)
mail_data.drop('Unnamed: 3',axis=1, inplace=True)
mail_data.drop('Unnamed: 4',axis=1, inplace=True)

In [22]:
mail_data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [23]:
# label spam mail as 0,  ham mail as 1.

mail_data.loc[mail_data['v1'] == 'spam', 'v1',] = 0
mail_data.loc[mail_data['v1'] == 'ham', 'v1',] = 1

In [24]:
mail_data

     v1                                                 v2
0     1  Go until jurong point, crazy.. Available only ...
1     1                      Ok lar... Joking wif u oni...
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1  U dun say so early hor... U c already then say...
4     1  Nah I don't think he goes to usf, he lives aro...
...  ..                                                ...
5567  0  This is the 2nd time we have tried 2 contact u...
5568  1              Will Ì_ b going to esplanade fr home?
5569  1  Pity, * was in mood for that. So...any other s...
5570  1  The guy did some bitching but I acted like i'd...
5571  1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [25]:
# separating data as texts and label

X = mail_data['v2']
Y = mail_data['v1']

In [27]:
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state = 3)

In [29]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

In [43]:
# transform the text data to feature vectors that can be used as input to the logistic regression

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase= True)

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_test values as integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [44]:
print(X_test_features)

  (0, 6007)	0.537093591660729
  (0, 4294)	0.5159375448718375
  (0, 1537)	0.667337188824809
  (1, 7222)	0.23059492898537967
  (1, 6599)	0.14954692788663673
  (1, 6579)	0.2733682162643466
  (1, 5501)	0.28671640581392144
  (1, 5347)	0.2733682162643466
  (1, 5250)	0.28671640581392144
  (1, 4045)	0.250549335510249
  (1, 3365)	0.28671640581392144
  (1, 3300)	0.37297727661877506
  (1, 2899)	0.1385795841356552
  (1, 602)	0.28671640581392144
  (1, 520)	0.19344507865262492
  (1, 321)	0.28671640581392144
  (1, 43)	0.24547458936715758
  (1, 1)	0.21260233518669946
  (2, 6701)	0.30969080396105314
  (2, 6648)	0.3410121739015846
  (2, 4070)	0.44361668503137164
  (2, 2941)	0.6068486133983123
  (2, 2939)	0.47195476517479323
  (3, 7101)	0.29334330258175106
  (3, 6746)	0.2031810874151213
  :	:
  (1111, 7415)	0.4945753828645536
  (1111, 6848)	0.39685462025643714
  (1111, 6093)	0.4671914311419049
  (1111, 3259)	0.4477622081928626
  (1111, 2458)	0.42325261089251354
  (1112, 4903)	0.4770390302498559
  (1112, 4282)	0.3509184569755111
  (1112, 3432)	0.36314080337211135
  (1112, 3259)	0.36314080337211135
  (1112, 2780)	0.374513931687687
  (1112, 2704)	0.3704547809702326
  (1112, 2114)	0.3287097264348074
  (1113, 6846)	0.4168758749641195
  (1113, 5806)	0.488439471695463
  (1113, 3963)	0.3910346709289789
  (1113, 3239)	0.488439471695463
  (1113, 1657)	0.44289971323548966
  (1114, 7295)	0.33014792863496223
  (1114, 6902)	0.3063326681877805
  (1114, 5565)	0.5010303679312903
  (1114, 5073)	0.3194139844000448
  (1114, 3564)	0.40844238751288037
  (1114, 2899)	0.2421646568502054
  (1114, 2862)	0.38140394975458775
  (1114, 2352)	0.270495916357943

In [45]:
model = LogisticRegression()

In [46]:
# train the model

model.fit(X_train_features,Y_train)

LogisticRegression()

In [47]:
# prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [48]:
accuracy_training_data

0.9661207089970832

In [50]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [51]:
accuracy_test_data

0.9623318385650225

In [56]:
input_mail = ['sale, sale, sale .Made up for Friday and stuffed myself like a pig yesterday. Now I feel bleh. But at least its not writhing pain kind of bleh.']

# convert text to feature vector

input_data_feature = feature_extraction.transform(input_mail)

prediction = model.predict(input_data_feature)
print(prediction)


if (prediction == 1):
    print('ham mail')
else:
    print('spam mail')

[1]
ham mail